<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSEnvironment</key>
	<dict>
		<key>SUBJ_LIB</key>
		<string>/Users/NicolasCardozo/Documents/workspace-all/Subjective-C/trunk/context_iOS</string>
		<key>SUBJ_LIB_MAC</key>
		<string>/Users/NicolasCardozo/Documents/workspace-all/Subjective-C/trunk/context_Mac</string>
		<key>SUBJ_PARSER2</key>
		<string>/Users/NicolasCardozo/Documents/workspace-all/Subjective-C/trunk/SubjectiveParser2/Build/Products/Debug/SubjectiveParser2</string>
	</dict>
</dict>
</plist>
